<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      content="width=device-width, height=device-height, initial-scale=1.0, viewport-fit=cover"
      name="viewport"
    />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <meta content="content" name="description" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="mobile-web-app-capable" />
    <meta content="yes" name="mobile-web-app-capable" />
    <link href="imgs/fav.png" rel="icon" sizes="16x16" type="image/png" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap">
    <title>chemProp</title>
    <!-- Preload asset files-->
    <link as="style" href="css/main.min.css" rel="prefetch" />
    <!-- @@include ../partials/styles.html -->
    <!-- @@placeholder= style -->
  </head>
  <body>


    <div id="site-content">
      <!-- @@placeholder= template-content -->
    </div>
    <!-- @@include ../partials/layout/footer.html -->
    

    <!-- ==============================================================-->
    <!-- All Jquery-->
    <!-- ==============================================================-->
    <!-- @@include ../partials/scripts.html -->
    <!-- @@placeholder= js -->
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>

</html>
